<div class="visible-xs">
    <div id="sync1" class="owl-carousel owl-theme owl-flex owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div
                class="owl-stage"
                style="
                    transform: translate3d(-1725px, 0px, 0px);
                    transition: all 0s ease 0s;
                    width: 6555px;
                "
            >
                <div class="owl-item cloned" style="width: 345px">
                    <div class="item">
                        <a href="javascript:void(0)"
                            ><img
                                src="https://hagiangopentour.com/upload/images/anh-tour-2/z2197647553360-f2020210de0c87877a3db189570381aa.jpg"
                                alt="DU LỊCH HÀ GIANG 2 NGÀY 3 ĐÊM"
                        /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-nav disabled">
            <div class="owl-prev"></div>
            <div class="owl-next"></div>
        </div>
        <div class="owl-dots disabled"></div>
    </div>
    <div class="clearfix-10"></div>
    <div id="sync2" class="owl-carousel owl-theme owl-flex owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div
                class="owl-stage"
                style="
                    transform: translate3d(0px, 0px, 0px);
                    transition: all 0s ease 0s;
                    width: 1065px;
                "
            >
                <div
                    class="owl-item active current"
                    style="width: 108.333px; margin-right: 10px"
                >
                    <div class="item">
                        <a href="javascript:void(0)"
                            ><img
                                src="https://hagiangopentour.com/upload/images/anh-tour-2/z2197647457399-e7cd8982dd6a0b8b30c06c2a9b63f27a.jpg"
                                alt="DU LỊCH HÀ GIANG 2 NGÀY 3 ĐÊM"
                        /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-nav disabled">
            <div class="owl-prev">prev</div>
            <div class="owl-next">next</div>
        </div>
        <div class="owl-dots disabled"></div>
    </div>
</div>
